#envelope{
    position: relative;
    width: 400px;
    height: 260px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    top: 250px;
    background-color: #00334c; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

}

.front{
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}

.flap{
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 130px solid transparent;
    border-top: 130px solid rgb(220,220,220);
    transform-origin: top;
}

.pocket{
    border-left: 200px solid rgb(240, 240, 240);
    border-right: 200px solid rgb(240, 240, 240);
    border-bottom: 130px solid rgb(240, 240, 240);
    border-top: 130px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.letter{
    position: relative;
    background-color: rgb(255,255,255);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 94%;
    top: 5%;
    border-radius: 6px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .12);
}

p{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.words{
    position: absolute;
    left: 10%; 
    width: 80%;
    height: 14%;
    background-color: #eeeff0;
}

.words.line1{
    top: 15%; 
    width: 20%;
    height: 7%;
}

.words.line2{
    top: 30%;
}

.words.line3{
    top: 50%;
}

.words.line4{
    top: 70%;
}

.open .flap{
    transform: rotatex(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 1;
}

.close .flap{
    transform: rotatex(0deg);
    transition: transform 0.4s 0.6s ease, z-index 1s;
    z-index: 5;
}

.close .letter{
    transform: translatey(0px);
    transition: transform 0.4s 0.6s ease, z-index 1s;
    z-index: 1;
}

.open .letter{
    transform: translatey(-160px);
    transition: transform 0.4s 0.6s ease, z-index 0.6s;
    z-index: 2;
}

.a1{
    left: 20%;
    transform: scale(0.6);
    opacity: 1;
    animation: slideUp 4s linear 1, sideSway 2s ease in-out 4 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

.a2{
    left: 55%;
    transform: scale(1);
    opacity: 1;
    animation: slideUp 5s linear 1, sideSway 2s ease in-out 2 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

.a3{
    left: 10%;
    transform: scale(0.8);
    opacity: 1;
    animation: slideUp 7s linear 1, sideSway 2s ease in-out 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

@keyframes slideUp{
    0%{
        top: 0;
    }

    100%{
        top: -600px;
    }
}

@keyframes sideSway{
    0%{
        margin-left: 0px;
    }

    100%{
        margin-left: 50px;
    }
}

.body{
    background-color: rgb(248, 200, 200);
}

.envelope{
    height: 380px;
}

.reset{
    margin-top: 300px;
    text-align: center;
}



.reset button{
    font-weight: 800;
    font-style: normal;
    transition: all 0.1s linear;
    -webkit-appearance: none;
    background-color: transparent;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    line-height: 1em;
    text-decoration: none;
    min-width: 120px;
    outline: none;
}

.reset button:hover{
    background-color: rgb(255, 0, 0);
    color: #fff;
}


  
